:root { 
--bluegray_900:#12344d; 
--gray_400:#bcbfc2; 
--gray_301:#dce0e2; 
--bluegray_500:#73828c; 
--black_900:#000000; 
--teal_900:#003059; 
--black_901:#0e1012; 
--gray_101:#f2f5f6; 
--white_A700:#ffffff; 
--gray_300:#e4e6e7; 
--gray_700_11:#55555511; 
--gray_100:#f5f7f8; 
}