:root { 
--gray_400:#bcbfc2; 
--gray_301:#e0e0e0; 
--gray_302:#dce0e2; 
--gray_300:#e4e6e7; 
--gray_50:#f9fcff; 
--gray_100:#f2f5f6; 
--bluegray_900:#12344d; 
--bluegray_700:#424c5d; 
--bluegray_500:#73828c; 
--bluegray_401:#74839d; 
--black_900:#000000; 
--bluegray_400:#75839d; 
--teal_900:#003059; 
--black_901:#0e1012; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
}